<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://datapublisherazurestorage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1eae27d8-cbaa-43fd-9f60-ce33de2c69b6/resourceGroups/CTA_Resource_Group/providers/Microsoft.Web/sites/DataPublisherAzureStorage</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://datapublisherazurestorage.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAeApQ62NdZEu4hUREkhnsXQAAAAACAAAAAAAQZgAAAAEAACAAAAC/sYS4hSWvEPB3H7m/kEMyWjg3VfTGW/YoLX8Fp82mXQAAAAAOgAAAAAIAACAAAABmuWAE2grHIpKLWYi5LhFYsOeOtCqaHPavWZcTELXSJCAAAADhS3/8EDGuj2Sqn40aXRxU3bR1VWT8k121OdOMlr9vE0AAAABWzpW47clk/6/5ss++FJc6WTzvpPw3MV+p5wpMxTbIbeNF/QwkJPlKqEIg5Q4aFFKguSS2b0Lz3fW2ajH3haLg</EncryptedPassword>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>