<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://datapublisherazurestorage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/1eae27d8-cbaa-43fd-9f60-ce33de2c69b6/resourceGroups/CTA_Resource_Group/providers/Microsoft.Web/sites/DataPublisherAzureStorage</ResourceId>
    <UserName>REDACTED</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://datapublisherazurestorage.scm.azurewebsites.net/</PublishUrl>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAeApQ62NdZEu4hUREkhnsXQAAAAACAAAAAAAQZgAAAAEAACAAAABCbs6RzpEslkfuqV/D8Q1kD+9jmF8sgS9Iabli4OufJAAAAAAOgAAAAAIAACAAAADh+sNOLPngeFBLnZSClgS1fsbMOjgbtenU6s7yIbeGvyAAAACQmgBcY/Zev4J1c+LJDfjtY0p2bEde837xh/auKCJqb0AAAAAoeHiEvrETWe3HanKPWTqqT6M2Gkczx0CGwZCA16VVO6MWqMZ5x+9KTuFt5OitzItfHcud1SK8AGr08+jf2vmI</EncryptedPassword>
    <History>False|2024-10-13T21:02:44.0872950Z;</History>
    <EnvironmentSubType>AzureFunctionProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>